p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
  text-transform: capitalize;
}

/* What I learned: If an HTML element needs to be styled uniquely (no matter what classes are applied to the element), we can add an ID to the element. */
