p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

/* What I learned: It's possible to add more than one class name to an HTML element's class attribute. */
